@import "~bootstrap/scss/bootstrap";
// body {
// background-image: url("../img/jumbotron.png");
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    height: 10%;
}

main {
    width: calc(100vh - 30%);
    width: 80%;
    margin: auto;
}

h1 {
    color: red;
}

h2 {
    text-align: center;
    padding: 2rem;
}

a,
li {
    color: black;
    list-style: none;
    text-decoration: none;
}

.card-movies {
    background-color: black;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 20%;
    text-align: center;
    margin-top: 2.5rem;
}
